// CSS Reset
@import "~reset-css/reset.css";

// Box sizing
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #F6F5F4;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// App styles
.App {
	&-header {
		padding: 12px 20px;
		margin-bottom: 30px;
		background: #FFF;
		box-shadow: 0 0 3px rgba(#000, 0.2);

		&-title {
			color: #AAA;
			font-size: 34px;
			font-weight: 100;
			letter-spacing: 10px;
			text-decoration: none;
		}
	}
}
